html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  color: #101020;
}

#app {
  height: 100%;
  width: 100%;
}

#app .app-container {
  height: 100%;
  margin: 0 50px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
